<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="STYLES.CSS">
    <title>College Counselling Management System</title>
</head>
<body>
    
    <nav class=" navbar ">
        <div class="logo"><a href="#">CCMS</a></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/cutoff">Cutoff</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="buttons">
            <a href="/college" class="button">
                <img class="img"src="college_image.jpg" alt="Colleges">
                <span class="utility">Colleges</span>
            </a>
            <a href="/cutoff" class="button">
                <img class="img" src="cutoff_image.jpg" alt="Cutoff">
                <span class="utility">Cutoff</span>
            </a>
            <a href="/tools" class="button">
                <img class="img" src="tools_image.jpg" alt="Tools">
                <span class="utility">Tools</span>
            </a>
        </div>
    </div>
</body>
</html>
