<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Tools</title>
</head>
<body>
    <nav class=" navbar ">
        <div class="logo"><a href="#">CCMS</a></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="/cutoff">Cutoff</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>Tools</h2>
        <div class="cards">
            <div class="card">
                <h3>Rank Predictor</h3>
                <p>This tool predicts your Rank based on certain inputs related to Marks.</p>
                <a href="/rank-predictor" class="button">Go to Rank Predictor</a>
            </div>
            <div class="card">
                <h3>College Predictor</h3>
                <p>This tool predicts colleges based on your inputs.</p>
                <a href="/college-predictor" class="button">Go to College Predictor</a>
            </div>

            <!-- <div class="card">
                <h3>College Comparison</h3>
                <p>This tool helps you to compare different or same branches of same and different colleges.</p>
                <a href="/college-comparison" class="button">Go to College Comparison</a>
            </div> -->
        </div>
    </div>
    <div class="container">
        <!-- Your content here -->
        <button onclick="location.href='/';" class="prev-next-button">&#8592; Previous</button>
    </div>
</body>
</html>
